.formm {
    margin-top: 80px;
    width: 40%;
    background-color: rgba(194, 0, 26, 0.514);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #777;
    margin-left: 450px;
}